/* =================================================================== */
/* ========== Default ========== */
/* =================================================================== */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  width: 10%;
  height: auto;
}
.nav_link {
}

.nav_link li {
  display: inline-block;
  padding: 10px;
}
.nav_
/* =================================================================== */
/* ========== Home PAGE CSS ========== */
/* =================================================================== */

/* =================================================================== */
/* ========== INNER PAGES CSS ========== */
/* =================================================================== */

/* =================================================================== */
/* ========== FOOTER CSS ========== */
/* =================================================================== */

/* =================================================================== */
/* ========== Responsive ========== */
/* =================================================================== */

@media screen and (max-width: 1200px) {
  /* CSS FOR TABLETS ------------*/
}

@media screen and (max-width: 1024px) {
  /* CSS FOR Mointer ------------*/
}
@media screen and (max-width: 990px) {
  /* CSS FOR TABLETS ------------*/
}
@media screen and (max-width: 960px) {
  /* CSS FOR TABLETS ------------*/
}

@media screen and (max-width: 768px) {
  /* CSS FOR SMALL TABLETS ------------*/
}
@media screen and (max-width: 640px) {
  /* CSS FOR IPHONE ------------*/
}

@media screen and (max-width: 480px) {
  /* CSS FOR MOBILES ------------*/
}
@media screen and (max-width: 360px) {
  /* CSS FOR MOBILES ------------*/
}

@media screen and (max-width: 320px) {
  /* CSS FOR SMALL OLD MOBILES ------------*/
}
