/* =================================================================== */
/* ========== Default ========== */
/* =================================================================== */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  /* background-image: url("img/javascript_banner_sxve2l.webp"); */
  background-image: url("img/javascript-default.png");
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 30px 10%;
}

.nav_link li {
  display: inline-block;
  padding: 10px;
}
.mynew {
  width: 100px;
  height: 250px;
  display: inline-block;
  margin: 20px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.demo1 {
  font-size: 30px;
  font-weight: 500;
}
.demo {
  color: brown;
}
/* =================================================================== */
/* ========== Home PAGE CSS ========== */
/* =================================================================== */

/* =================================================================== */
/* ========== INNER PAGES CSS ========== */
/* =================================================================== */

/* =================================================================== */
/* ========== FOOTER CSS ========== */
/* =================================================================== */

/* =================================================================== */
/* ========== Responsive ========== */
/* =================================================================== */

@media screen and (max-width: 1200px) {
  /* CSS FOR TABLETS ------------*/
}

@media screen and (max-width: 1024px) {
  /* CSS FOR Mointer ------------*/
}
@media screen and (max-width: 990px) {
  /* CSS FOR TABLETS ------------*/
}
@media screen and (max-width: 960px) {
  /* CSS FOR TABLETS ------------*/
}

@media screen and (max-width: 768px) {
  /* CSS FOR SMALL TABLETS ------------*/
}
@media screen and (max-width: 640px) {
  /* CSS FOR IPHONE ------------*/
}

@media screen and (max-width: 480px) {
  /* CSS FOR MOBILES ------------*/
}
@media screen and (max-width: 360px) {
  /* CSS FOR MOBILES ------------*/
}

@media screen and (max-width: 320px) {
  /* CSS FOR SMALL OLD MOBILES ------------*/
}
